.homeCard {
    background-color: aqua;
    border: 10px solid gray;
    width: 500px;
}

.paragraphSeparator {
    height: 20px;
}

.productCard {
    background-color: aqua;
    border: 10px solid gray;
    width: 800px;
}

.productContainer {
    display: flex;
}

.detailCard {
    background-color: aqua;
    border: 5px solid black;
    width: 900px;
}

.cartCard {
    background-color: aqua;
    border: 10px solid gray;
    width: 800px;
}